*{
    margin: 0%;  
    padding: 0% ;
 }
 /* #cc7a48 #f1ac6d #8c440c #ad6650  */
 body{
     /* background-color: black; */
     display: grid;
     grid-template-columns: auto auto auto auto;
     grid-template-rows: 0.2fr 0.1fr auto auto;
     grid-template-areas: 
     "cab cab cab cab"
     "sec pri pri pri"
     "sec pri pri pri"
     "fot fot fot fot"
     ;
 }
 
 
 .grid_c{
     display: flex;
     grid-area: cab;
     background-color: #cc7a48;
     width: 100%;
     height: 100%;
     align-items: center;
     justify-content: center;
     text-align: center;
    
} 

#menu li{
    display: inline;
    text-align: center;
    font-size: x-large;
    color: black;
    border-radius: 8px;
    border: 4px 8px;
    background-color: #b2bec3;
    padding: 4px 12px;
    margin: 25px;
}
 
 
 .grid_p{
     align-items: ce;
     grid-area: pri;
     background-color: #fff
 }
 
 
 .grid_s{
     
     grid-area: sec;
     background-color: #8c440c 
 }
 
 
 .grid_r{
     display: grid;
     grid-area: fot;
     background-color: #ad6650
 
 }

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}


.elemento_father{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.son{
    width: 21%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10 rgba(0,0,0,0.22);
    transition: .3s;
    background-color: #e0e9ee;

}

.son:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transition: translate(0px, -8px);

}

.son img{
    width: 190px;
    height: 180px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.son p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;

}

.son h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin: 2%;

}


.son h3{
    text-align: center;
    font-size: 30px;
    margin: 5%;
    padding-top: 10px;
 }


.son ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-top: 0%;

} 

.son li{
    padding-top: 5px;
}

.fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}

.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}

.checked{
    color: #ff9f43;
}


.son button{
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100% ;
    padding: 15px;
    border: 0%;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 20px;
    
}

.add_carrinho-1{
    background-color: #cc7a48;
}



.add_carrinho-2{
    background-color: #cc7a48;
}



.add_carrinho-3{
    background-color: #cc7a48;
}